{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Восстановление пароля</p>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}